<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/bootstrap.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='custom.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}">
  <script src="{{url_for('static', filename='bootstrap/js/bootstrap.min.js')}}"></script>
  <script src="{{url_for('static', filename='bootstrap/js/bootstrap.js')}}"></script>
  <!--Materialize-->
    <!-- <link rel="stylesheet" href="{{url_for('static', filename='materialize/css/materialize.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='materialize/css/materialize.min.css')}}">
    <script src="{{url_for('static', filename='materialize/js/materialize.min.js')}}"></script>
    <script src="{{url_for('static', filename='materialize/js/materialize.js')}}"></script> -->
    
    <title>Join us!</title>
</head>
<body>
    <!-- {% block navbar %}
    <nav>
        <div class="nav-wrapper" style="background-color: rgb(160, 216, 216);">
          <a href="#!" class="brand-logo">YourLogo:)</a>
          <ul class="right hide-on-med-and-down">
            <li><a class="waves-effect waves-light btn-large" href="{{url_for('login')}} "><b>LOGIN</b></a></li>
            <li><a class="waves-effect waves-light btn-large" href="{{url_for('register')}} "><b>REGISTER</b></a></li>
          </ul>
        </div>
      </nav> 

    {% endblock navbar%} -->
    {% block content %}
    {% endblock content %}  

 
</body>
</html>