<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/bootstrap.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='custom.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}">
  <script src="{{url_for('static', filename='bootstrap/js/bootstrap.min.js')}}"></script>
  <script src="{{url_for('static', filename='bootstrap/js/bootstrap.js')}}"></script>
  <!--Materialize-->
    <!-- <link rel="stylesheet" href="{{url_for('static', filename='materialize/css/materialize.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='materialize/css/materialize.min.css')}}">
    <script src="{{url_for('static', filename='materialize/js/materialize.min.js')}}"></script>
    <script src="{{url_for('static', filename='materialize/js/materialize.js')}}"></script> -->
    
    <title>Join us!</title>
</head>
<body>
 
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}"> {{message}} </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    {% block content %}
    {% endblock content %}  

 
</body>
</html>