{% extends 'base.html' %}

{% block content %}

    <div class="content-section">
      <form  method="POST"  action="" >
          {{ form.hidden_tag() }}
         <fieldset class="form-group container">
          <legend class="border-bottom mb-4">Register Form</legend>
          
            <div class="form-group">
              {{form.username.label(class="form-control-label") }}
              {{form.username(class="form-control ") }}
            </div>
            <div class="form-group">
              {{form.email.label(class="form-control-label") }}
              {{form.email(class="form-control ") }}
            </div>
            <div class="form-group"> 
              {{form.password.label(class="form-control-label") }}
              {{form.password(class="form-control ") }}
            </div>
            <div class="form-group">
              {{form.name.label(class="form-control-label") }}
              {{form.name(class="form-control ") }}
            </div>
             <div class="form-group">
              {{ form.terms_of_service(class="form-check")}}
              {{form.terms_of_service.label(class="form-control-label") }}
               
             </div> 

            <br>
            <div class="form-group"> 
              {{form.submit(class="btn btn-outline-info") }} 
                       
            </div>            
               
          
        </fieldset>
        </form>
      </div>
{% endblock content %}
